<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title> JustShop Website</title>
	<%- include('layout/css_links.ejs') %>
</head>
<body>

	<%- include('layout/header.ejs') %>

	<div class="container-fluid">

		<small>currentPage:</small>
		<small> <%= currentPage %> </small>
		
		<small>pages:</small>
		<small> <%= pages %> </small>

		<div class="row">
			<div class="col-12 col-md-3">
				<p class="h4 py-2 mt-5">Categories</p>
				<ul class="vertical-navbar bg-white">
					<li>
						<% var all_class_name = null; %>
						<% if (currentCategory == 'all') { %>
							<% all_class_name = 'navbar-active'; %>
						<% } %>
						<a id="navbar-link" href= <%= "/products/all/" + currentPage %> class= <%=all_class_name %> >All</a>
					</li>

					<% for (let i = 0; i < categories.length; i++) { %>
						<li>
							<% let category_name = categories[i].name.toLowerCase(); %>
							<% if (category_name.includes(',')) { %>
								<% category_name = category_name.split(',').join(''); %>
							<% } %>
							<% category_name = category_name.normalize("NFD").replace(/[\u0300-\u036f]/g, ""); %>
							<% category_name = category_name.split(' ').join('-'); %>

							<% var category_class_name = null; %>
							<% if (currentCategory == category_name) { %>
								<% category_class_name = 'navbar-active'; %>
							<% } %>

							<a id="navbar-link" href= <%="/products/" + category_name + "/" + currentPage %> class= <%=category_class_name %> > <%= categories[i].name %> </a>
						</li>
					<% } %>
				</ul>
			</div>
			<div class="col-12 col-md-8">
				<h4 class="title">Products</h4>

				<div class="row mb-5">
					<% for (let i = 0; i < products.length; i++) { %>
						<div class="col-6 col-md-3 justify-content-center my-5">
							<a class="product-link" href= <%="/products/" + currentCategory + "/" + currentPage + "/" + products[i].id %> >
								<img class="col-9" src= <%= products[i].image_url %> >
								<div class="product-name font-weight-bold"> <%= products[i].product_name %> </div>
								<div class="rating">
									<span class="rating">
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star" ></i>
										<i class="fa fa-star-half-o" ></i>
										<i class="fa fa-star-o" ></i>
									</span>
								</div>
								<p class="price-font">20000đ</p>
							</a>
						</div>
					<% } %>
				</div>
			</div>
			
		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-lg justify-content-center">
				<li class="page-item">
					<a class="page-link" href= <%="/products/" + currentCategory + "/1" %> >First</a>
				</li>

				<% if (currentPage == 1) { %>
					<li class="page-item disabled">
						<!-- <a class="page-link">Previous</a> -->
						<a class="page-link" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				<% } else { %>
					<li class="page-item">
						<!-- <a class="page-link" href= <%="/products/" + currentCategory + "/" + parseInt(currentPage-1) %> >Previous</a> -->
						<a class="page-link" aria-label="Previous" href= <%="/products/" + currentCategory + "/" + parseInt(currentPage-1) %> >
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
				<% } %>

				<% var i = Number(currentPage) > 3 ? Number(currentPage) - 2 : 1; %>

				<% if (i !== 1) { %>
					<li class="page-item disabled">
						<a class="page-link">...</a>
					</li>
				<% } %>

				<% for (i; i <= Number(currentPage) + 2 && i <= pages; i++) { %>
					<% if (i == currentPage) { %>
						<li class="page-item navbar-active">
							<a class="page-link" href= <%= "/products/" + currentCategory + "/" + i %> > <%= i %> </a>
						</li>
					<% } else { %>
						<li class="page-item">
							<a class="page-link" href= <%= "/products/" + currentCategory + "/" + i %> > <%= i %> </a>
						</li>
					<% } %>

					<% if (i == Number(currentPage) + 2 && i < pages) { %>
						<li class="page-item disabled">
						  <a class="page-link">...</a>
						</li>
					<% } %>
				<% } %>

				<li class="page-item">
					<!-- <a class="page-link" href= <%= "/products/" + currentCategory + "/" + parseInt(currentPage+1) %> >Next</a> -->
					<a class="page-link" aria-label="Next" href= <%= "/products/" + currentCategory + "/" + parseInt(currentPage+1) %> >
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href= <%= "/products/" + currentCategory + "/" + pages %> >Last</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<%- include('layout/footer.ejs') %>
	
</body>
</html>